
backend/.serverless/serverless-state.json
backend/.serverless/cloudformation-template-update-stack.json
backend/.serverless/laravel.zip
backend/.serverless/serverless-state.json
backend/.serverless/volelo.zip
